<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field categories">
    <%= f.select :category_id, Category.find_by_name('root').sub_categories.map{|c| [c.name, c.id]}, {include_blank: '(カテゴリ)'} %>
    <%= f.select :sub_category_id, (@item.category.try(:sub_categories) || []).map{|c| [c.name, c.id]}, {include_blank: '(サブカテゴリ)'} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
