<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.select :category_id, category_collection(Category.find_by_name('root')), {include_blank: true}, {class: 'category-select form-control select select-primary select-block mbl'} %>
  </div>
  <% style = "display:none;" if @item.category.try(:sub_categories).blank? %>
  <div class="field field-sub-category" style="<%= style %>">
    <%= f.label :sub_category_id %><br>
    <%= f.select :sub_category_id, category_collection(@item.category), {include_blank: true}, {class: 'sub-category-select form-control select select-primary select-block mbl'} %>
  </div>
  <div class="actions">
    <%= f.submit 'Save' %>
  </div>
<% end %>
