<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>
<p>
  <strong>Category:</strong>
  <%= @item.category.try(:name) %>
</p>
<p>
  <strong>Sub category:</strong>
  <%= @item.sub_category.try(:name) %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
